header {
    text-align: center;
    border-bottom: 1px solid gray;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    background: #1e3d59;
}

.pheader ul{
    list-style: none;
    padding: 0;
    padding: 5px;
}

.pheader ul li {
    display: inline-block;
    background: #ffc13b;
    /* margin-right: 20px; */
    padding: 0px 10px;
}

.pheader ul li a {
    background: #115693;
    text-decoration: none;
    border-radius: 10px 10px;
    border: 1px solid #ffc13b;
    color: white;
    padding: 15px;
}

.pheader ul li a:hover {
    color: #ffc13b;
}